.Docs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Docs-Left,
.Docs-Right {
  width: 300px;
  min-width: 300px;
}

.Docs-Left,
.Docs-Main,
.Docs-Right {
  overflow-y: scroll;
  overflow: auto;
}

.Docs-Main {
  flex: 1 1 auto;
  margin: 0 200px;
  max-width: 1200px;
  @media screen and (max-width: 1600px) {
    margin: 0 100px;   
  }
}
