.Docs {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  justify-content: space-between;
}

.Docs-Left,
.Docs-Right {
  position: relative;
  width: 300px;
  min-width: 300px;
  min-height: 100vh;
}

.Docs-Left,
.Docs-Main,
.Docs-Right {
  overflow: auto;
}

.Docs-Left-Menu {
  position: fixed;
  top: 60px;
}

.Docs-Main {
  flex: 1 1 auto;
  max-width: 1200px;
  margin: 0 200px;
  @media screen and (max-width: 1600px) {
    margin: 0 100px;
  }
}
